@import './mixins/mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
}
body{
    @include max--size;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
main{
    @include display-center;
    @include max--size;
    background: rgba(255, 0, 0, 0.535);
    #title--div{
        width: 35rem;
        h1{
            margin-bottom: 2rem;
            line-height: 4rem;
            font-size: 4rem;
            color: white;
        }
        p{
            font-size: 1.3rem;
        }
    }
    #form--div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40rem;
        #try__free__div{
            p{
                @include border--radius__5px;
                @include display-center; 
                margin-bottom: 1rem;   
                width: 32rem;
                height: 4rem;
                color: white;
                background-color: rgb(66, 37, 182);
                box-shadow: 0px 15px 10px -15px #111;
            }
            span{
                margin-right: 0.2rem;
                font-weight: bold;
            }
        }
        form{
            @include display-center;
            @include border--radius__5px;
            flex-direction: column;
            height: 29rem;
            width: 32rem;
            background-color: white;
            input{
                @include input--size;
                @include border--radius__5px;
                border: 1px solid rgb(157, 157, 157);
                margin: 0.7rem 0;
            }
            ::placeholder{
                padding-left: 1.5rem
            }
            button{
                @include border--radius__5px;
                height: 3.5rem;
                width: 26.7rem;
                text-transform: uppercase;
                border: none;
                color: white;
                background-color: rgb(143, 234, 143);
                margin-bottom: 0.8rem;
            }
            p{
                font-size: 0.7rem;
            }
        }
    }
}
