@import './Utils/Mixins/mixins';
@import './Utils/Fonts/font';

*{
    margin: 0;
}
body{
    background: url(/images/bg-intro-desktop.png);
    @include max--size;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
main{
    @include display-center;
    @include max--size;
    background: rgba(224, 25, 25, 0.582);
    #title--div{
        width: 35rem;
        h1{
            font-family: 'Lato', sans-serif;
            margin-bottom: 2rem;
            line-height: 4rem;
            font-size: 3.5rem;
            color: white;
        }
        p{
            color: white;
            font-size: 1.3rem;
        }
    }
    #form--div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40rem;
        #try__free__div{
            p{
                @include border--radius--10px;
                @include display-center; 
                margin-bottom: 1.5rem;   
                width: 32.5rem;
                height: 3.8rem;
                color: white;
                background-color: hsl(248, 32%, 49%);
                box-shadow: 0px 15px 10px -15px #111;
            }
            span{
                font-family: 'Lato', sans-serif;
                margin-right: 0.2rem;
                font-weight: bold;
            }
        }
        form{
            @include display-center;
            @include border--radius--10px;
            flex-direction: column;
            height: 29rem;
            width: 32.5rem;
            background-color: white;
            input{
                @include input--size;
                @include border--radius__5px;
                border: 2px solid rgb(194, 194, 194);
                margin: 0.7rem 0;
            }
            ::placeholder{
                padding-left: 1.5rem
            }
            button{
                @include border--radius__5px;
                cursor: pointer;
                margin: 0.8rem 0;
                background-color: hsl(154, 59%, 51%);
                border: none;
                letter-spacing: 1px;
                height: 3.5rem;
                width: 26.7rem;
                color: white;
                text-transform: uppercase;
            }
            p{
                color: rgb(194, 194, 194);
                font-size: 0.75rem;
            }
            span{
                cursor: pointer;
                color: red;
            }
        }
    }
}
