@mixin display-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin max--size{
    height: 100vh;
    width: 100%;
}
@mixin border--radius__5px{
    border-radius: 5px;
}
@mixin border--radius--10px{
    border-radius: 10px;
}
@mixin input--size{
    height: 3.5rem;
    width: 26.5rem;
}